<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <report
                id="action_stock_print_report2"
                model="ra.stock.print"
                string="Etat des stocks"
                name="stock_print.stock_print_report2"
                report_type="qweb-pdf"
                file="stock_print.stock_print_report2"
                auto="True"
        />


    </data>
</openerp>